---
import Layout from "@/layouts/Layout.astro";
import DocsLayout from "@/components/docs-layout";
import { mdxComponents } from "@/components/mdx-components";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  function toRouteSlug(id: string) {
    return id.replace(/(^|\/)index$/, "").replace(/\/$/, "");
  }

  const content = await getCollection("content");

  return content.map((doc) => ({
    params: { slug: toRouteSlug(doc.id) },
    props: { doc },
  }));
}

const { doc } = Astro.props;
const { Content } = await render(doc);
const { title, description, template } = doc.data;
---

{template === "documentation" && (
    <Layout title={title} description={description} isDocs={true}>
        <DocsLayout>
            <article class="mx-auto flex w-full max-w-[40rem] min-w-0 flex-1 flex-col gap-6 px-4 py-6 text-neutral-800 md:px-0 lg:py-8 dark:text-neutral-300">
                <header class="flex flex-col gap-2">
                    <h1 class="scroll-m-24 text-3xl font-semibold tracking-tight sm:text-3xl">{title}</h1>
                    {description && (
                        <p class="text-[1.05rem] text-muted-foreground sm:text-base sm:text-balance md:max-w-[80%]">{description}</p>
                    )}
                </header>
                <div class="pt-2">
                    <Content components={mdxComponents} />
                </div>
            </article>
        </DocsLayout>
    </Layout>
)}

{template === "blog" && (
    <Layout title={title} description={description}>
        <Content components={mdxComponents} />
    </Layout>
)}


{template === "plain" && (
    <Layout title={title} description={description}>
        <Content components={mdxComponents} />
    </Layout>
)}
