---
import type { News } from '@/content.config';

interface Props {
    id: string;
    data: News;
    classes?: string;
}

const { id, data, classes } = Astro.props as Props;
---

<div class={`card ${classes ?? ''}`}>
    <div class="card-body">
        <h3 class="card-title">
            <a href={`/news/${id}`}>{data.title}</a>
        </h3>
        <p class="card-text">{data.description}</p>
        <a class="btn btn-primary" href={`/news/${id}`}>
            Read more
        </a>
    </div>
    <div class="card-footer text-body-secondary d-flex align-items-center gap-2">
        <span class="badge bg-secondary">
            {data.category}
        </span>

        <span>
            Posted on {new Date(data.date).toLocaleDateString(undefined, {
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            })}
            by {data.authors.map((author, index) => (
                <span>
                    <a href={author.data.url} class="text-decoration-none">{author.id}</a>
                    {index < data.authors.length - 1 ? ', ' : ''}
                </span>
            ))}
        </span>
    </div>
</div>

<style>
    /* Remove text-decoration from links */
    .card-title a {
        text-decoration: none;
    }
</style>